body{
    line-height: 1.5em;
}



/* keyboard letters buttons */

.keyboard .keyboard-body {
    padding: 5px 0px 0px 5px;
    background-color: light grey;
}

.keyboard {
    border: 1px solid #444;
    margin-right: 5px;
}

.liActive,
.liDisabled {
    width: 26px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    color: #000;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid lightcoral;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
}

.liActive li:hover {
    background-color: #888;
    cursor: pointer;
}

.liActive {
    background-color: #3399ff;
}

.liDisabled {
    background-color: #888;
    border: 1px solid #898;
}