body {
    line-height: 150%;
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ddd;
    text-align: center;
    font-family: 'Noto Sans', sans-serif, 'Roboto', sans-serif;
    font-size: 1.2em;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    min-height: 100vh;
}

#instruction {
    text-align: center;
}

.statistic {
    background-color: #F5DAE3;
    opacity: 0.8;
    padding: 20px;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    -webkit-box-shadow: inset 3px 6px 51px -12px rgb(91, 86, 160);
    -moz-box-shadow: inset 3px 6px 51px -12px rgba(91, 86, 160);
    box-shadow: inset 3px 6px 51px -12px rgba(91, 86, 160);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#gameWord {
    margin-bottom: 20px;
    font-size: 1em;
    padding: 5px 2px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 3px 5px 36px -5px rgb(91, 86, 160);
    -moz-box-shadow: 3px 5px 36px -5px rgb(91, 86, 160);
    box-shadow: 3px 5px 36px -5px rgb(91, 86, 160);
}

#gameWord,
#word,
#instruction {
    color: #6b5496;
}

#gameWord {
    padding: 20px 0px;
}

#instruction {
    padding-bottom: 5px;
}

#winlosses {
    color: #d15079;
}

#styleNumber {
    color: #d15079;
}

#word {
    font-size: 1.4em;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
}

#clear {
    margin: 30px;
}

.category {
    color: #6b5496;
}

.load {
    color: #6f77b2;
}

.message {
    font-size: 2.7em;
    color: #A74061;
    font-weight: bold;
    text-shadow: 5px 5px 4px #E7A5BA;
}


/* header */

.headerTitle {
    font-size: 0.5em;
    text-align: center;
    color: #d15079;
    text-shadow: 3px 3px 12px #6f77b2;
    margin: 10px auto;
}

h1 {
    font-size: 4em;
    text-align: center;
}


/* letter buttons */

.keyboard-body {
    background-color: #F5DAE3;
    opacity: 0.8;
    border: 1px white;
    padding: 20px 10px 10px 10px;
    margin: 5% 20% 40px 20%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 13px 20px 103px -16px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 13px 20px 103px -16px rgba(0, 0, 0, 0.59);
    box-shadow: 13px 20px 103px -16px rgba(0, 0, 0, 0.59);
    margin-bottom: 30px;
}

.liActive,
.liDisabled,
.liSelected {
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    color: whitesmoke;
    margin: 5px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: inline-block;
    -webkit-box-shadow: 3px 6px 96px -2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 3px 6px 96px -2px rgba(0, 0, 0, 0.59);
    box-shadow: 3px 6px 96px -2px rgba(0, 0, 0, 0.59);
}

.liActive li:hover {
    background-color: #888;
    cursor: pointer;
}

.liActive {
    background-color: #666666;
}

.liDisabled {
    background-color: lightgrey;
}

.liSelected {
    background-color: #6f77b2;
}


/*footer*/

#footernav {
    background-color: #666666;
    color: lightgray;
    font-size: 0.7em;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

#footernav a:link,
a:visited {
    color: lightgray;
}

.copy {
    padding: 5px;
}

.social {
    padding: 5px;
    margin: 0 auto;
}

@media (max-width: 375px) {
    .statistic {
        font-size: 0.8em;
        opacity: 0.8;
        padding: 15px 1px;
        margin: 1% 5% 1% 6%;
    }
    .headerTitle {
        font-size: 0.5em;
    }
    #clear {
        margin: 30px;
    }
    #word {
        font-size: 1em;
    }
    #gameWord {
        font-size: 1.2em;
    }
    .liActive,
    .liDisabled,
    .liSelected {
        width: 22px;
        height: 22px;
        line-height: 20px;
        margin: 4px;
    }
    .keyboard {
        margin: 15px;
    }
    .keyboard .keyboard-body {
        padding: 12px 0px 0px 12px;
    }
    #footernav {
        display: none;
    }
}