body {
    line-height: 150%;
    color: #ddd;
    background-color: darkgrey;
}








/* letter buttons */

.keyboard .keyboard-body {
    padding: 5px 0px 0px 5px;
    background-color: white;
}

.keyboard {
    border: 1px solid #444;
    margin-right: 5px;
}

.liActive,
.liDisabled,
.liSelected {
    width: 26px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    color: #000;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #5bbbb9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
}

.liActive li:hover {
    background-color: #888;
    cursor: pointer;
}

.liActive {
    background-color: #33ffc2;
}

.liDisabled {
    background-color: #888;
    border: 1px solid #898;
}
.liSelected {
    background-color: red;
}



/* media query */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 414px) {
    .liActive,
    .liDisabled,
    .liSelected {
        width: 22px;
        height: 22px;
        line-height: 20px;
        margin: 4px;
    }
    .keyboard {
        margin: 15px;
    }
    .keyboard .keyboard-body {
        padding: 12px 0px 0px 12px;
        background-color: #222;
    }
    
   
   
}
